{% extends 'base.html.twig' %}

{% block title %}Hello AccueilController!
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}
<div class="container">

<h1 class="mt-5 mb-5">Interface administrateur </h1>

<h4 class="mt-4 mb-4">Gestion des messages 
<a class="btn btn-success ml-5" href="{{ path('admin_message_ajout') }}">Ajouter</a>
</h4>

<h5>Aperçu des messages en fonction de la priorité :</h5>
<i>Veuillez limiter les messages à 3 à la fois max !</i>
  

        <div class="container-fluid bg-danger">
            <div id="carouselExampleCaptions" class="carousel slide" data-mdb-ride="carousel">
                <div class="carousel-indicators mb-0 mt-3">
                    {% set isFirst = true %}
                    {% for message in messages | sort((a, b) => b.priorite <=> a.priorite) | slice(0, 3) %} 
                    {% if isFirst == true %}

                        <a
                        type="button"
                        data-mdb-target="#carouselExampleCaptions"
                        data-mdb-slide-to={{ loop.index0 }}
                        class="active "
                        aria-current="true"
                        aria-label={{ message.message | upper }}
                        ></a>

                    {% else  %}

                        <a
                        type="button"
                        data-mdb-target="#carouselExampleCaptions"
                        data-mdb-slide-to={{ loop.index0 }}
                        aria-current="true"
                        aria-label={{ message.message }}
                        ></a>

                    {% endif  %}
                    {% set isFirst = false %}
                    {% endfor %}
                </div>
                <div class="carousel-inner">
                {% set isFirst = true %}
                {% set i = 0 %}
                {% for message in messages | sort((a, b) => b.priorite <=> a.priorite) | slice(0, 3) %}   
                {% if isFirst == true %}

                    <div class="carousel-item active">
                    {% set isFirst = true %}
							<a href="{{ path("message_urgent", {id: message.id}) }}">
                            <div class="carousel-caption d-none d-md-block position-static nopadding">
                                <h2>{{ message.message | upper  }}</h2>
                            </div>
                        </a>
                    </div>

                {% else %}

                    <div class="carousel-item">
							<a href="{{ path("message_urgent", {id: message.id}) }}">
                            <div class="carousel-caption d-none d-md-block position-static nopadding">
                                <h2>{{ message.message | upper  }}</h2>
                            </div>
                        </a>
                    </div>
                
                {% endif %}
                {% set isFirst = false %}
                {% endfor %}

                </div>

            </div>
        </div>

<table class="table mb-4">
  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Message</th>
      <th scope="col">Description</th>
      <th scope="col">Priorité</th>
      <th scope="col">Actions</th>

    </tr>
  </thead>
  <tbody>
    {% for message in messages %}
    <tr>
      <th scope="row">{{ message.id }}</th>
      <td>{{ message.message }}</td>
      <td>{{ message.description }}</td>
      <td>{{ message.priorite }}</td>
      <td>
        <a class="btn btn-primary" href="{{ path('admin_message_modification', {id: message.id}) }}">Modifier</a>
        <a class="btn btn-danger" href="{{ path('admin_message_suppression', {id: message.id}) }}">Supprimer</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<h4 class="mt-4 mb-4">Gestion des programmes
  <a class="btn btn-success ml-5" href="{{ path('admin_programme_ajout') }}">Ajouter</a>
</h4>

<table class="table mb-4">
  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Date</th>
      <th scope="col">Nom</th>
      <th scope="col">Heure</th>
      <th scope="col">Lieu</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for programme in programmes %}
    <tr>
      <th scope="row">{{ programme.id }}</th>
      <td>{{ programme.date|date("d/m/Y") }}</td>
      <td>{{ programme.name }}</td>
      <td>{{ programme.hours|date('H:i:s') }}</td>
      <td>{{ programme.location }}</td>
      <td>
        <a class="btn btn-primary" href="{{ path('admin_programme_modification', {id: programme.id}) }}">Modifier</a>
        <a class="btn btn-danger" href="{{ path('admin_programme_suppression', {id: programme.id}) }}">Supprimer</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<h4 class="mt-4 mb-4">Gestion des concerts
  <a class="btn btn-success ml-5" href="{{ path('admin_concert_ajout') }}">Ajouter</a>
</h4>
<table class="table mb-4">
  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Programme</th>
      <th scope="col">Groupe</th>
      <th scope="col">Début</th>
      <th scope="col">Fin</th>
      <th scope="col">Durée</th>
      <th scope="col">Lieu</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for concert in concerts %}

    <tr>
      <th scope="row">{{ concert.id }}</th>
      <td>{{ concert.programmeid.name}}(ID : {{ concert.programmeid.id}})</td>
      <td>{{ concert.groupe.nom}}</td>
      <td>{{ concert.horairedebut|date('H:i:s') }}</td>
      <td>{{ concert.horairefin|date('H:i:s') }}</td>
      <td>{{ concert.duree }}</td>
      <td>{{ concert.emplacement }}</td>
      <td>
        <a class="btn btn-primary" href="{{ path('admin_concert_modification', {id: concert.id}) }}">Modifier</a>
        <a class="btn btn-danger" href="{{ path('admin_concert_suppression', {id: concert.id}) }}">Supprimer</a>
      </td>
      

    </tr>
    {% endfor %}


        

  </tbody>
</table>

<h4 class="mt-4 mb-4">Gestion des groupes
  <a class="btn btn-success ml-5" href="{{ path('admin_groupe_ajout') }}">Ajouter</a>
</h4>
<table class="table mb-4">
  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Programme</th>
      <th scope="col">Groupe</th>
      <th scope="col">Actions</th>

    </tr>
  </thead>
  <tbody>
    {% for groupe in groupes %}

    <tr>
      <th scope="row">{{ groupe.id}}</th>
      <td>{{ groupe.nom}}</td>
      <td>{{ groupe.stylemusique}}</td>
      <td>
        <a class="btn btn-primary" href="{{ path('admin_groupe_modification', {id: groupe.id}) }}">Modifier</a>
        <a class="btn btn-danger" href="{{ path('admin_groupe_suppression', {id: groupe.id}) }}">Supprimer</a>
      </td>

      

    </tr>
    {% endfor %}


        

  </tbody>
</table>

</div>
		

{% endblock %}
