{% extends 'base.html.twig' %}

{% block title %}Hello AccueilController!{% endblock %}

{% block body %}

<h1>Bienvenue au Festival LiveEvents</h1>
  Retrouvez vos artistes préféré en live
  <br /><br />
  <h3>ici ce placera l'alerte</h3>
  <br /><br />
  <h3>ici ce placera le programme</h3>
  <table>
  {% for programme in programmes %}
     <tr>
      <td>{{ programme.date_debut }}</td>
      <td>{{ programme.horraire_debut }}</td>
      <td>{{ programme.duree }}</td>
      <td>{{ programme.emplacement }}</td>
      <td>{{ programme.group_id }}</td>
   </tr>
   {% endfor %}
  </table>

  <br /><br />
    <h3>ici ce placera le lien vers la boutique</h3>
    <a href="{{ path('live_events_Boutique') }}" class="btn btn-primary-outline sensitive" >
    Aller à la boutique
  </a>
  <br /><br />
  <h3>ici ce placera la map interactive</h3>
{% endblock %}
