{% extends 'base.html.twig' %}

{% block title %}Hello AccueilController!{% endblock %}

{% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}" type="text/css" />
{% block stylesheets %}

{% block body %}
    <style type="text/css">
            caption /* Titre du tableau */
            {
            margin: auto; /* Centre le titre du tableau */
            font-family: Arial, Times, "Times New Roman", serif;
            font-weight: bold;
            font-size: 1.2em;
            color: #009900;
            margin-bottom: 20px; /* Pour éviter que le titre ne soit trop collé au tableau en-dessous */
            }
    
            table /* Le tableau en lui-même */
            {
            margin: auto; /* Centre le tableau */
            border: 4px outset green; /* Bordure du tableau avec effet 3D (outset) */
            border-collapse: collapse; /* Colle les bordures entre elles */
            width:100%;
            }
            th /* Les cellules d'en-tête */
            {
            background-color: #006600;
            color: white;
            font-size: 1.1em;
            font-family: Arial, "Arial Black", Times, "Times New Roman", serif;
            border:1px solid red;
            }
    
            td /* Les cellules normales */
            {
                font-size:0.8em;
            border: 1px solid black;
            font-family: Verdana, "Trebuchet MS", Times, "Times New Roman", serif;
            text-align: center; /* Tous les textes des cellules seront centrés*/
            padding: 5px; /* Petite marge intérieure aux cellules pour éviter que le texte touche les bordures */
            height:25px;
            width:200px;
            }
            td.time
            {
                font-size:1em;
                height:50px;
                width:100px;
            }
</style>



    <h1>Bienvenue au Festival LiveEvents</h1>
    Retrouvez vos artistes préféré en live
    <br /><br />
    <h3>ici ce placera l'alerte</h3>
    <br /><br />
    <h3>ici ce placera le programme</h3>
    <title>Mon super emploi du temps</title>
        

    <label>Selectionnez une date</label>
    <div class="card" style="width: 18rem;">
        <select name="pets" id="pet-select">
            <option value="jour1">jour1</option>
            <option value="jour2">Jour2</option>
            <option value="jour3">Jour3</option>
        </select>
    </div>

    <table>
        <tr><th>heure</th>
        <th>jour</th>
        </tr>
            {% for programme in programmes %}
        <tr>
                    <td class=\"time\" rowspan=\"2\"> {{ programme.date_debut }} <br />14h30</td>
                <td>    {{ programme.group_id.nom }} <br />
                        {{ programme.duree }}<br />
                        {{ programme.emplacement }}
                </td>
            {% endfor %}
        </tr>
    </table>

    <br /><br />
        <h3>ici ce placera le lien vers la boutique</h3>
    <a href="{{ path('live_events_Boutique') }}" class="btn btn-primary-outline sensitive" >
        Aller à la boutique
        </a>
        <br /><br />
    <h3>ici ce placera la map interactive</h3>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2508.869543450512!2d2.36323451591207!3d51.03703015280544!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47dc8c6ba91d1801%3A0x2ddc9f6f60a56566!2sPatinoire%20Michel-Raffoux%20de%20Dunkerque!5e0!3m2!1sfr!2sfr!4v1611934368503!5m2!1sfr!2sfr" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>

{% endblock %}
