{% extends 'base.html.twig' %}

{% block title %}Acceuil - Live Events
{% endblock %}

{% block body %}

        <div class="w-auto linear-gradient">
            <div id="carouselExampleCaptions" class="slide" data-mdb-ride="carousel">
                <div class="carousel-inner">
                {% set isFirst = true %}
                {% set i = 0 %}
                {% for message in messages | sort((a, b) => b.priorite <=> a.priorite) | slice(0, 3) %}   
                {% if isFirst == true %}

                    <div class="carousel-item active">
                    {% set isFirst = true %}
							<a href="{{ path("message_urgent", {id: message.id}) }}">
                            <div class="carousel-caption d-md-block position-static nopadding">
                                <h2>{{ message.message | upper  }}</h2>
                            </div>
                        </a>
                    </div>

                {% else %}

                    <div class="carousel-item">
							<a href="{{ path("message_urgent", {id: message.id}) }}">
                            <div class="carousel-caption d-md-block position-static nopadding">
                                <h2>{{ message.message | upper  }}</h2>
                            </div>
                        </a>
                    </div>
                
                {% endif %}
                {% set isFirst = false %}
                {% endfor %}

                </div>
                <div class="carousel-indicators d-md-block position-static text-center">
                    {% set isFirst = true %}
                    {% for message in messages | sort((a, b) => b.priorite <=> a.priorite) | slice(0, 3) %} 
                    {% if isFirst == true %}

                        <a
                        type="button"
                        data-mdb-target="#carouselExampleCaptions"
                        data-mdb-slide-to={{ loop.index0 }}
                        class="active "
                        aria-current="true"
                        aria-label={{ message.message | upper }}
                        ></a>

                    {% else  %}

                        <a
                        type="button"
                        data-mdb-target="#carouselExampleCaptions"
                        data-mdb-slide-to={{ loop.index0 }}
                        aria-current="true"
                        aria-label={{ message.message }}
                        ></a>

                    {% endif  %}
                    {% set isFirst = false %}
                    {% endfor %}
                </div>


            </div>
        </div>

	<h1 class="mt-3 mb-4 text-center titre">Bienvenue au festival Nation Sounds!</h1>
    <div class="brand2 mx-auto"></div>
<div class="container">
</br>
	<div class="text-center font-weight-bold"><i>Retrouvez vos artistes préféré en live</i></div>
	<br/><br/>
	
	<h4 class="titre">Selectionnez un programme : </h4>
	{{ form_start(formFiltre) }}

        {{ form_row(formFiltre.programme) }}

    <div class="text-center">
        {{ form_row(formFiltre.Valider) }}
    </div>
        

    {{ form_end(formFiltre) }}


<h4 class="mt-4 mb-4 titre">Les concerts : </h4>
<div class="table-responsive-sm">
<table class="table mb-4">
  <thead class="thead-light">
    <tr>
	  <th scope="col">Programme</th>
	  <th scope="col">Date</th>
      <th scope="col">Groupe</th>
      <th scope="col">Horaires</th>
      <th scope="col">Durée</th>
      <th scope="col">Lieu</th>
	  
    </tr>
  </thead>
  <tbody>
    {% for concert in concertsfiltre %}

    <tr>
      <td>{{ concert.programmeid.name}}</td>
	  <td>{{ concert.programmeid.date|date('d-m-Y') }}</td>
      <td>{{ concert.groupe.nom}}</td>
      <td>
	  {{ concert.horairedebut|date('H:i:s') }}
      {{ concert.horairefin|date('H:i:s') }}
	  </td>
      <td>{{ concert.duree }}</td>
      <td>{{ concert.emplacement }}</td>
	  
      

    </tr>
    {% endfor %}

</table>
</div>

	<br/><br/>
    <div class="text-center titre">
	<h3>Accéder à la billeterie</h3>
    
	<a href="https://www.billetweb.fr/nation-sounds1" class="btn btn-primary btn-lg sensitive linear-gradient">
		BILLETERIE
	</a>
    </div>
	<br/><br/>
	<h3 class="titre">Retrouvez tout nos stands sur notre map !</h3>
    <div class="map-responsive">
	<iframe src="https://www.google.com/maps/d/embed?mid=1YOhzjaL2tNn8QyeHFogBDwSxJG0pR64H" width="640" height="480"></iframe>
    </div>
</div>
{% endblock %}
