<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=no">

        <link rel="icon" href="{{ asset('build/app_global.css') }}" />

        <title>{% block title %}Base{% endblock %}</title>
        
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        
            <!-- Font Awesome -->
            <link
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
            rel="stylesheet"
            />
            <!-- MDB -->
            <link
            href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.3.0/mdb.min.css"
            rel="stylesheet"
            />

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
        <body>
            <nav class="navbar navbar-expand-lg navbar-light navcolor">

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="fas fa-bars fa-1x text-light"></span>
                </button>

                

                <ul class="nav navbar-nav navbar-logo mlogo">

                        <a class="brand" href="{{ path("home") }}">

                        </a>
                </ul>
                    
                <div class="collapse navbar-collapse" id="navbarNav">

                    <ul class="navbar-nav">


                    <li class="nav-item active">
                        <a class="nav-link text-light font-weight-bold" href="{{ path("home") }}">Accueil <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light font-weight-bold" href="{{ path("faq") }}">FAQ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light font-weight-bold" href="{{ path("reseaux") }}">Réseaux sociaux</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light font-weight-bold" href="{{ path("partenaires") }}">Partenaires</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light font-weight-bold" href="{{ path("app_login") }}">Se connecter</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light font-weight-bold" href="{{ path("app_register") }}">S'enregistrer</a>
                    </li>
                    <li class="nav-item">
                    {% if app.user %}
                        <p class="text-light font-weight-bold">Connecté en tant que <i>{{ app.user.username }}</i></p> <a class="btn btn-primary btn-sm linear-gradient" href="{{ path('app_logout') }}"><i class="fas fa-lg fa-power-off"></i>Se déconnecter</a>
                    {% else %}
                        <a class="btn btn-primary btn-sm linear-gradient" href="{{ path('app_login') }}"><i class="fas fa-lg fa-user"></i> Se connecter</a>
                    {% endif %}
                    </li>
                    <li>
                        {% if is_granted('ROLE_ADMIN') %}
                        <p class="text-danger">
                            Compte administrateur.
                            <a class="btn btn-primary btn-sm linear-gradient" href="{{ path('admin_home') }}"><i class="fas fa-lg fa-cog"></i>Gestion</a>
                        </p>
                        {% elseif is_granted('ROLE_USER') %}
                        <p class="text-danger">
                            Compte utilisateur.
                        </p>
                        {% else %}
                        <p class="text-danger">
                            Compte anonyme.
                        </p>
                        {% endif %}
                    </li>
                    
                    </ul>
                </div>

            </nav>

        

        {% block body %}{% endblock %}
        
            <!-- MDB -->
            <script
            type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.3.0/mdb.min.js"
            ></script>
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
    <div class="card-deck mt-3">
        <div class="card">
            <div class="card-body">
            <div class="brand mx-auto"></div>
            <h5 class="card-title text-center">Live Events 2021 - Tout droits réservés.</h5>
            </div>
        </div>
    </div>
</html>
